<div class="chat_header">
  <div class="left-header">
    <div class="header-title">
      <a>hogefuga</a>
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <a>Tom</a>
      </div>
      <div class="message-date">
        <a>2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <a>おはよう<a>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <a>Sim</a>
      </div>
      <div class="message-date">
        <a>2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <a>おはよう<a>
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden" >
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信" >
</div>