<div class="chat_header">
  <div class="left-header">
    <div class="header-title">
      <a>hogefuga</a>
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <a>Tom</a>
      </div>
      <div class="message-date">
        <a>2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <a>おはよう<a>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        <a>Sim</a>
      </div>
      <div class="message-date">
        <a>2020/3/31(Wed) 12:43:30</a>
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        <a>おはよう<a>
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>