.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side_bar_header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create-room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0px 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat_header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}